aiohttp
aiosignal
alembic
amqp
annotated-types
anyio
argon2-cffi
asgi-lifespan
asgiref
attrs
beautifulsoup4
billiard
boto3
botocore
celery
certifi
cffi
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
colorama
coverage
cryptography
defusedxml
distlib
Django
django-allauth
django-colorfield
django-cors-headers
django-countries
django-emoji
django-filter
django-phonenumber-field
django-storages
django-templated-mail
django-twilio
djangorestframework
djangorestframework-simplejwt
djoser
dnspython
drf-nested-routers
drf-yasg
ecdsa
email-validator
Faker
fastapi
fastapi-jwt-auth
filelock
frozenlist
geoip2
gunicorn
h11
httpcore
httpx
idna
inflection
iniconfig
itsdangerous
jmespath
joblib
kombu
lxml
Mako
MarkupSafe
maxminddb
multidict
nltk
oauthlib
packaging
passlib
phonenumbers
pika
Pillow
platformdirs
pluggy
prompt-toolkit
psycopg2
psycopg2-binary==2.9.9
py
pyasn1
pycparser
pydantic
pydantic_core
PyJWT
pyparsing
pytest
pytest-asyncio
pytest-mock
python-dateutil
python-decouple
python-dotenv
python-editor
python-jose
python-multipart
python3-openid
pytz
PyYAML
redis
regex
requests
requests-oauthlib
rest-framework-simplejwt
rfc3986
rsa
s3transfer
setuptools
six
sniffio
social-auth-app-django
social-auth-core
soupsieve
SQLAlchemy
sqlparse
starlette
stripe
text-unidecode
toml
tqdm
twilio
typing_extensions
tzdata
uritemplate
urllib3
uvicorn
vine
virtualenv
wcwidth
wheel
whitenoise
yarl
mysqlclient