asgiref
certifi
cffi
charset-normalizer
cryptography
defusedxml
Django
django-allauth
django-countries
django-filter
django-phonenumber-field
django-templated-mail
django-twilio
djangorestframework
djangorestframework-simplejwt
djoser
drf-nested-routers
drf-yasg
idna
inflection
oauthlib
packaging
phonenumbers
pillow
psycopg2
pycparser
PyJWT
python3-openid
pytz
PyYAML
requests
requests-oauthlib
rest-framework-simplejwt
setuptools
social-auth-app-django
social-auth-core
sqlparse
stripe
twilio
typing_extensions
uritemplate
urllib3
